{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% tailwind_css %}
    <title>Data jumia</title>
</head>
<body class=" m-2 p-2">
      
      <p class=" m-5 flex justify-center items-center  " >
        <a class=" hover:bg-green-400 " href="{% url 'download' %}">Download</a>
      </p>
      <div class="bg-green-300">
      hello
      </div>
      {% comment %} {% url 'download' %} {% endcomment %}
    {% block content %}
      
    {% endblock content %}
</body>
</html>